## **GDSC Al-azhar | Data Science Training**

### Print words that start with : **s**

In [25]:
st = 'Print only the words that start with s in this sentence'

In [26]:
#we will split all words then make itteration and choos words starts with s
for i in st.split():
    if i.startswith('s') or i.startswith('S'):
        print(i)

start
s
sentence

### Find the most frequent value in a list

In [27]:
test = [1, 2, 3, 9, 2, 7, 3, 5, 9, 9, 9]

In [28]:
#we will import statistics liberary and select mode function to find the most frequent number in the list
import statistics as st
print(st.mode(test))

9

### Use range() to print all the even numbers from 0 to 10.

In [29]:
#Code here
for even in range(11):
    if even%2==0:
        print(even)

0
2
4
6
8
10

### Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [30]:
#where list3 is the list that is divisible by 3 
list1=list(range(1,51))
list3=[]
for i in list1:
    if i%3==0:
        list3.append(i)
print(list3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

____
### Use a List Comprehension to create a list of the first letters of every word in the string below:

In [31]:
st = 'Create a list of the first letters of every word in this string'

In [32]:
#Code here
st_list_word=st.split()
frist_letter=[]

for word in st_list_word :
    letter=word[0]
    frist_letter.append(letter)

print(frist_letter)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Go through the string below and if the length of a word is even print "even!"

In [33]:
st = 'Print every word in this sentence that has an even number of letters'

In [34]:
#Code here
words=st.split()
for word in words:
    if len(word)%2==0:
        print(word+' is ''even!')

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

**Using Code**
### How to Update List & dict 
### how to delete elements From List 
### advantage of set()

In [65]:
a=[4,4,2,54,6,53,2,13,4]
a[0]='mohamed'
print(a)

['mohamed', 4, 2, 54, 6, 53, 2, 13, 4]

In [64]:
#Code here
a=[4,4,2,54,6,53,2,13,4]
a.remove(54)
print(a)

[4, 4, 2, 6, 53, 2, 13, 4]

In [ ]:
#the advantage of set that it takes a small volume from memory and I can not change any thing from it

### Using lambda : Sum 3 nums

In [68]:
#Code here

sum3=lambda r,s,v:r+s+v
print(sum3(1,2,3))

6

### how to sort List 

```
thislist = [100, 50, 65, 82, 23]
```

In [38]:
#Code here
thislist = [100, 50, 65, 82, 23]
print(sorted(thislist))

[23, 50, 65, 82, 100]

### Reverse List
```
thislist = [100, 50, 65, 82, 23]
```

In [39]:
#Code here
thislist = [100, 50, 65, 82, 23]
print(list(reversed(thislist)))

[23, 82, 65, 50, 100]

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

```
    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]
```

In [62]:
#Code here
def uniq(sample_list):
    unique_list=[]
    for i in range(len(sample_list)):
        if sample_list[i] in unique_list:
            continue
        else:
            unique_list.append(sample_list[i])

        
        
        
    return unique_list  
print(uniq([3,2,3,4,5,2,45,2]))

[3, 2, 4, 5, 45]

### Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters


    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [14]:
#Code here
def count(string):
    upper_list=[]
    lower_list=[]
    for letter in list(string):
        if letter.isupper():
            upper_list.append(letter)
        else:
            lower_list.append(letter)
            
    No_upper=print('No. of Upper case characters :{}'.format(len(upper_list)))
    No_lower=print('No. of Lower case characters :{}'.format(len(lower_list)))
    
    
    
count('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters :4
No. of Lower case characters :44

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [15]:
#Code here
def uniq(sample_list):
    unique_list=[]
    for i in range(len(sample_list)):
        if sample_list[i] in unique_list:
            continue
        else:
            unique_list.append(sample_list[i])

        
        
        
    return unique_list  
print(uniq([3,2,3,4,5,2,45,2]))

[3, 2, 4, 5, 45]

### Write a Python function to multiply all the numbers in a list.

```
Sample List : [1, 2, 3, -4]
Expected Output : -24```

In [24]:
#Code here
import math 
def multiply(my_list):
    mult=math.prod(my_list)
    return mult
print(multiply([1,2,3,-4]))

24

### Write a Python function that checks whether a passed string is palindrome or not

In [ ]:
#Code here

### Open a file, name it 'test.txt' and write 'I Love python' for 5 times in it then close it.

In [16]:
#Code here
test=open('test.txt','w')
test.write('I love python'*5)
test.close()

### Handle the exception thrown by the code below by using try and except blocks.

In [18]:
try:
    
    for i in ['a','b','c']:
        
        print(i**2)
except:
    print('you can not make exponitial on string')

you can not make exponitial on string

In [ ]:
#Code here

### Handle the exception thrown by the code below by using try and except blocks. Then use a finally block to print 'All Done.'

In [20]:
try:
    
    x = 5
    y = 0

    z = x/y
except:
    print('you can not divide by zero')
finally:
    print('All Done')

you can not divide by zero
All done

In [ ]:
#Code here

### **It does not matter how slowly you go as long as you do not stop.**

**feel free to contact me if you need any further information**
[LinkedIn](https://www.linkedin.com/in/mohamed-ibrahim-513531202/)